@import url(trainers.css);
body {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.8em;
  padding: 0 0.8em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 300; }

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background-color: rgba(255, 255, 255, 0.2); }

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
  background-color: #444 !important;
  -webkit-box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25; }

.action2 {
  border: 1px solid white;
  background: rgba(1, 1, 1, 0.5);
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 15px; }
  .action2:hover {
    background: rgba(1, 1, 1, 0.8);
    color: white; }

.action {
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #5E98BA;
  padding: 15px; }
  .action:hover {
    background-color: #3d82ab;
    color: white; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Economica";
  font-size: 1.5em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #2a2e3e;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Economica";
  font-size: 1.5em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: white;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(242, 242, 242, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(242, 242, 242, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #282c3b;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Economica-normal-400.woff2) format("woff2"); }

@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local("Economica"), local("Economica-Regular"), url(/fonts/Economica-normal-400.svg) format("svg"); }

body {
  color: #444;
  font-family: "Economica";
  font-size: 1.5em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Economica";
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 3em; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 2.0em; } }

h2 {
  font-size: 2em; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

p a {
  border-bottom: 1px dashed white; }

strong {
  font-weight: normal; }

blockquote {
  border-left: 1px solid white;
  padding-left: 20px;
  margin-left: 0; }

a.darken {
  color: #5E98BA;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
  border-bottom: 1px dashed #5E98BA; }
  a.darken:active, a.darken:focus, a.darken:hover {
    color: #3d82ab; }

a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #C3E4F7; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

.fa-heart {
  color: red; }

.roundy {
  font-weight: normal;
  font-size: 100px;
  border-radius: 100%;
  border: 1px solid #4dac71;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  border-color: #ffffff;
  margin-bottom: 0.5em; }

header#header {
  background-image: url("/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white; }
  header#header .logo .achivement {
    position: relative;
    top: 30px; }
    @media screen and (max-width: 767px) {
      header#header .logo .achivement {
        top: 20px;
        width: 80px; } }
  header#header input {
    margin-top: 30px; }

.menu {
  margin-bottom: 50px; }
  .menu a {
    margin-right: 30px; }

.about {
  text-align: center;
  color: white;
  background-image: -webkit-linear-gradient(30deg, #3d82ab 50%, #5E98BA 50%);
  background-image: linear-gradient(60deg, #3d82ab 50%, #5E98BA 50%); }
  .about p {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .about p::after {
      clear: both;
      content: "";
      display: table; }
  .about .why {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .about .why::after {
      clear: both;
      content: "";
      display: table; }
    .about .why .practitioners {
      margin-top: 80px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .about .why .practitioners:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .about .why .practitioners {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .about .why .practitioners:last-child {
            margin-right: 0; } }
    .about .why .exclusive {
      margin-top: 80px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .about .why .exclusive:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .about .why .exclusive {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .about .why .exclusive:last-child {
            margin-right: 0; } }
    .about .why .certification {
      margin-top: 80px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .about .why .certification:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .about .why .certification {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .about .why .certification:last-child {
            margin-right: 0; } }

.cancel p {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .cancel p::after {
    clear: both;
    content: "";
    display: table; }

.logo h1 {
  font-weight: bold; }
  .logo h1 strong {
    font-weight: bold;
    border-bottom: 3px solid #5E98BA;
    display: inline; }

.container {
  padding: 47px; }
  .container h1 {
    text-align: center; }
  @media screen and (max-width: 767px) {
    .container {
      padding: 20px; } }

.trainings blockquote {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-color: #5E98BA; }
  .trainings blockquote::after {
    clear: both;
    content: "";
    display: table; }
  .trainings blockquote a {
    color: #5E98BA; }

.training {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; }
  .training::after {
    clear: both;
    content: "";
    display: table; }
  .training .trainer {
    text-align: center; }
    .training .trainer .pic {
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }
  @media screen and (max-width: 767px) {
    .training header {
      text-align: center; } }
  .training header img.achivement {
    position: relative;
    top: 20px; }
    @media screen and (max-width: 767px) {
      .training header img.achivement {
        top: 0px; } }
  .training header h2 {
    display: inline;
    position: relative;
    margin-bottom: 10px; }
    @media screen and (max-width: 767px) {
      .training header h2 {
        display: block;
        font-size: 1.5em; } }
  .training section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .training section::after {
      clear: both;
      content: "";
      display: table; }
    .training section .trainer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .training section .trainer:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .training section .trainer {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .training section .trainer:last-child {
            margin-right: 0; } }
    .training section .description {
      padding-left: 30px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .training section .description:last-child {
        margin-right: 0; }
      @media screen and (max-width: 767px) {
        .training section .description {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .training section .description:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 767px) {
        .training section .description {
          margin-top: 30px;
          text-align: center; } }

.actions {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }
  .actions::after {
    clear: both;
    content: "";
    display: table; }
  .actions .more {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .actions .more:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      .actions .more {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .actions .more:last-child {
          margin-right: 0; } }
  .actions .social {
    text-align: right;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .actions .social:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      .actions .social {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .actions .social:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 767px) {
      .actions .social {
        margin-top: 40px;
        text-align: center; } }

footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #3d82ab; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer .contacts {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .contacts:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      footer .contacts {
        text-align: center;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        footer .contacts:last-child {
          margin-right: 0; } }
  footer .copyright {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: right;
    margin-bottom: 80px; }
    footer .copyright:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      footer .copyright {
        margin-top: 30px;
        text-align: center;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        footer .copyright:last-child {
          margin-right: 0; } }
