@import "bitters/base";

@import "trainers.css";

body {
	margin: 0;
}

.fa-heart {
	color: red;
}

.header {
	background-image: url("/img/background.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
	text-align: center;
	height: 650px;
	color: $light-gray;
	.logo {
		.achivement {
			position: relative;
			top: 50px;
	  		@include media($mobile) {
	  			top: 20px;
	  			width: 80px;
			}					
		}
	}

	input {
		margin-top: 30px;
	}

	h1 {
		font-size: 3em !important;
  		@include media($mobile) {
  			font-size: 2em !important;
		}				
	}

	h2 {
		font-weight: normal;
  		@include media($mobile) {
  			font-size: 1em !important;
		}				
	}
}


.menu {
	margin-bottom: 50px;
	a {
		margin-right: 30px;
	}
}

.about {
		text-align: center;
		color: white;
	    background-image: linear-gradient(60deg, #3d82ab 50%, #5E98BA 50%);

	    .why {
			@include outer-container;
		  	.practitioners {
		  		margin-top: 80px;
		  		@include span-columns(4);
    			@include media($mobile) {
					@include span-columns(12);
    			}		  				  		
		  	}
		  	.exclusive {
		  		margin-top: 80px;		  		
		  		@include span-columns(4);	
    			@include media($mobile) {
					@include span-columns(12);
    			}		  				  		
		  	}	    	
		  	.certification {
		  		margin-top: 80px;		  		
		  		@include span-columns(4);	
    			@include media($mobile) {
					@include span-columns(12);
    			}		  		
		  	}	    

		  	.fa {
		  		font-weight: normal;
		  		font-size: 100px;
			    border-radius: 100%;
			    border: 1px solid #4dac71;
			    display: inline-block;
			    height: 2em;
			    line-height: 2em;
			    text-align: center;
			    width: 2em;		  		
			    border-color: #ffffff;
			    margin-bottom: 0.5em;			    
		  	}			  	
	    }
}

.trainings {
    h2 {
    	font-weight: normal;
    }
}

.logo {
	font-family: 'PT Sans';
	h1 {
		font-size: 3em;
		strong {
			border-bottom: 3px solid #5E98BA;
 			display: inline;			
		}	
	}
}

.container {
	padding: 50px;
    h1 {
    	font-size: 2em;
    	text-align: center;
    }
}

.training {
	@include outer-container;
	margin-bottom: 100px;
	.trainer {
		text-align: center;
		.pic {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
			@include border-left-radius(100px);
			@include border-right-radius(100px);
			@include border-bottom-radius(100px);
			@include border-left-radius(100px);			  
		}
	}

	header {
		@include media($mobile) {
			text-align: center;
		}			
		img {
			position: relative;
			top: 20px;
			@include media($mobile) {
				top: 0px;
			}	
		}
		h2 {
			display: inline;
			position: relative;
			margin-bottom: 10px;
			@include media($mobile) {
				display: block;
				font-size: 1.5em;
			}		  				  	  		
		}		
	}


	h3 {
		font-size: 1em;
		font-weight: normal;
		margin-bottom: 50px;
	}

	section {
		@include outer-container;
	  	.trainer {
	  		@include span-columns(3);
			@include media($mobile) {
				@include span-columns(12);
			}		  				  	  		
	  	}
	  	.description {
	  		@include span-columns(9);	
			@include media($mobile) {
				margin-top: 30px;
				text-align: center;
				@include span-columns(12);
			}		  				  	  		
	  	}
  	}
}

.footer {
	@include outer-container;
	color: white;
	background-color: #3d82ab;

	.contacts {
		@include span-columns(6);		
		@include media($mobile) {
			text-align: center;
			@include span-columns(12);
		}
	}

	.copyright {
		@include span-columns(6);		
		@include media($mobile) {
			margin-top: 30px;
			text-align: center;
			@include span-columns(12);
		}
		text-align: right;
		margin-bottom: 80px;
	}
}