@import "bitters/base";
@import "trainers.css";

header#header {
  @include header();
  h1 a {
    padding: 10px;
    background: rgb(1, 1, 1);
    background: rgba(1, 1, 1, 0.5);
  }
}

.container {
  @include outer-container;
  padding: 50px;
  h1 {
    text-align: center;
  }
}

.logo {
  margin-top: 50px;
  img {
    position: relative;
    top: 20px;
  }
}

#description {
  color: white;
  @include sexy-gradient;

  article {
    @include media($tablet) {
      text-align: center;
    }
  }

  strong {
    font-weight: bold;
  }

  h2 {
    margin-top: 1.5em;
  }
  h3 strong {
    font-weight: bold;
  }

  h4 {
    margin-left: 1em;
  }
}

.training {
  .description {

    @include media($tablet) {
      text-align: center !important;
    }

    a {
      color: $light-blue;
      &:hover {
        color: $dark-blue;
      }
    }

    .quote {
      hr {
        border-color: #5E98BA;
      }
      font-style: italic;
      margin-top: 2em;
      text-align: right;
    }

  }
}

.trainer {
  text-align: center;
  margin-bottom: 50px;
  .pic {
    @include circle();
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}

.shorties {
  @include outer-container;
}

.shorty {
  text-align: center;
  margin-top: 70px;
  @include column(4, 12);
}

.address {
  text-align: center;
  @include outer-container;
  strong {
    font-weight: bold;
  }
}

.photos {
  @include outer-container;
}

.photo {
  text-align: center;
  @include column(4, 12);
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.locations {
  @include outer-container;
}

.location {
  text-align: center;
  @include column(4, 12);
}

#testimonials {
  .quote {
    blockquote {
      text-align: right;
      padding-bottom: 1em;
      padding-top: 2em;
      border-bottom: 1px solid #f6f6f6;
    }
  }
}

#offers {
  @include outer-container;
  .polyfill {
    @include column(4, 12, 12)
  }

  .offer {
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    @include column(4, 12, 12);
    @include border-width(2px);
    @include border-style(solid);
    @include border-color(#5E98BA);
    @include border-top-radius(20px);
    @include border-right-radius(20px);
    @include border-bottom-radius(20px);
    @include border-left-radius(20px);

    h2 {
      border-bottom: 1px dashed #5E98BA;
      padding-bottom: 10px;
      margin: 10px;
    }

    .price {
      @include roundy(#FFF, #5E98BA, #5E98BA);
      margin-bottom: 50px;
    }
  }
}

.pricing-clarify {
  font-size: 0.8em;
  text-align: right;
  p {
    margin: 0.8em;
  }
}

footer {
  @include footer;
}
