extends ../../training

block trainer
	include ../../trainer/kevlin.jade

block description
	include description.jade

block testimonials
	include testimonials.jade

block vars
	- var path = 'good_code_kevlin'
