footer
    .container
        section.training
            h1 Contacts
            .contacts#contacts
                p
                    i(class="fa fa-envelope-o") &nbsp;
                    a(href="mailto:hello@devchampions.com") hello@devchampions.com
                p
                    i(class="fa fa-phone")
                    |  + 371 288 14 170 (
                    a(href="http://sizovs.net") Eduards Sizovs
                    | , Founder)
            .copyright
                p.center Developed and maintained with <i class="fa fa-heart"></i> by&nbsp;
                    a(href="http://latcraft.lv") Latvian Software Craftsmanship Community
                | ©&nbsp;
                a(href="http://firmas.lv/profile/craftsmans-passion-sia/40103922894") DevChampions
                | &nbsp;2016-2018