script(type='text/javascript')
	|var _d_site = _d_site || 'E36B9CE0F9C7CCA2870C3266'; (function(w, d, p, s, s2) { 
	|w[p] = w[p] || function() { (w[p].q = w[p].q || []).push(arguments) }
	|s = d.createElement('script'); s.async = 1; s.src = '//widget.privy.com/assets/widget.js'; 
	|s2 = d.getElementsByTagName('script')[0]; s2.parentNode.insertBefore(s, s2); 
	|})(window, document, 'Privy');