p DevOps is a growing movement that encourages closer collaboration of developers and system operations to help business goals to be achieved efficiently and on time. Software development and infrastructure scaling are very fast-paced nowadays. That brings a necessity of larger automation, measurement and information sharing for all involved processes.

p This 2-day workshop focuses on solving challenges that organisations face when implementing DevOps initiatives. It introduces principles of DevOps and tools that help reach full automation of infrastructure provisioning and software delivery. Theoretical background as well as practical hands-on examples of tools like Vagrant, Docker, AWS and others are given during this workshop.

h2 Topics covered in this course include:

p
	h3 
		strong Introduction to DevOps: 
		| The story, Problems, Main principles
	h3 
		strong Automation is the key: 
		| Why to automate? What to automate? How to automate? When to not automate? Automation arguments? 
	h3 
		strong Continuous X: 
		| Continuous Integration, Continuous Deployment, Continuous Delivery
	h3 
		strong Configuration management: 
		| Metadata management, Maturity model
	h3 
		strong Infrastructure automation: 
		| Managing environments, Developer’s machine, From development to production, Infrastructure scaling
	h3 
		strong Cloud infrastructure: 
		| Public clouds, Private clouds, Containerization
	h3 
		strong Tooling: 
		| Local development, Infrastructure connectivity, Infrastructure provisioning, Infrastructure testing, Infrastructure monitoring
	h3 
		strong Lab work: 
		| Vagrant, Packer, Docker, AWS, Bash/Sshoogr/Fabric, Puppet/Ansible, Jenkins, ELK