extends ../../training

block trainer
    include ../../trainer/andreyadamovich.jade

block description
    include description.jade

block testimonials
    include testimonials.jade

block vars
    - var path = 'xa'