extends ../../training

block trainer
    include ../../trainer/andreyadamovich.pug

block description
    include description.pug

block testimonials
    include testimonials.pug

block vars
    - var path = 'xa'