p Every system has an architecture, whether accidental or intentional, and regardless of whether it was put in place by a nominated architect or whether it emerged from the decisions and discussions of a team. All too often the focus of what is often described as architecture is centred around a specific set of platform technologies, which forms only one part of the set of concerns an architecture should. And all too often architecture is seen as a separate concern from development process, whereas the two are intertwined — what you build is influenced by how you build it, and vice versa. This course looks at the relationship between Agile processes and good architecture, taking in development process models, architectural styles, requirements techniques, sufficient modelling techniques, design patterns and testing practices. This course includes a number of practical exercises so that attendees can see how the different activities fit together.

p The course covers a wide range of topics through a number of practical exercises, with plenty of time dedicated to group discussion:

h4 The relationship between development process and architecture
h4 The roles and failure modes of testing, modelling and technology platforms
h4 Different architectural styles and design patterns
h4 How to transform product vision into architecture
h4 Future-proofing your architecture, and accounting for uncertainty
h4 How to ground your architecture and avoid overdesign
h4 ...and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 