p Alexey is Certified ScrumTrainer, the author of the 
	a(href="http://www.agiletrainings.eu/2015/11/28/retrospective-agenda-cheat-sheet/") mini-book Agile Retrospective Kickstarter 
	| and a hands-on Lean-Agile practitioner with the first Scrum experiment dated back to 2003-2005. Alexey kicked off the AgileUkraine community in 2007, co-produced dozens of Agile events, including the sounding Agile Eastern Europe Conferences.

p Alexey has been coaching teams and organizations. Worked as a software developer, ScrumMaster, agile coach and a business trainer. He is a public speaker and an often guest at Agile conferences.

p Alexey is also a Certified LeSS (Large Scale Scrum) Practitioner® and a Team Coach with Erickson International.
 
p By attending the trainings of Alexey you’ll be exposed to the wide experience, lots of stories and the latest training techniques, including the one of the most popular simulations with Scrum: 
	a(href="http://lego4scrum.com") www.lego4scrum.com 
	| invented by Alexey and translated now to more than 15 languages.