p Do you want to build an application using microservices and don't know where to start? How do services find each other? How do I configure many instances of each service? How do I see what's going on with my services? If you've ever asked any of these questions, this training will give you some answers using "Spring Cloud" and "Netflix OSS" to create microservices that are robust, discoverable, scalable and configurable.

p Learn core concepts about Spring Cloud and Netflix OSS and how they are integrated. See demos of and learn how to use the following:

h4 Spring Cloud Config Server (distributed configuration)
h4 Eureka (service registration and discovery)
h4 Hystrix (circuit breaker/fault tolerance library)
h4 Hystrix Dashboard (service health dashboard)
h4 Ribbon (client side load balancing, including RestTemplate integration)
h4 Feign (easy rest clients)
h4 Zuul (routing)
h4 Spring Cloud Bus (distributed Spring Boot actuator)
h4 Distributed tracing with Spring Cloud Sleuth
h4 ...and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 