p CSPO is a two-day highly interactive official certification class. It is designed specifically for Product Owners, Product Managers and Business Analysts engaged in Agile product development.

p The training objectives are focused around common product management challenges of different company types: from in-house product development to project-oriented outsourcing-like companies. It helps enable lean product thinking in classical product management cultures by offering modern thinking tools and proven methods.
 
p The class is designed to help Product Owners improve their fit and influence throughout the Agile organization to maximize business value and team satisfaction. Hence, it covers all dimensions of “what it takes to be a brilliant Product Owner”: from Stakeholder and Value Management, to mastering the Product Lifecycle and Craftsmanship.

p The class is made to be highly skill-oriented. During the class a number of modern agile and UX product management tools are taught to drive collaborative product discovery and development:
	ul
		li Visioning tools for building shared understanding among the stakeholders (Impact Mapping, User Story Mapping)
		li Tools for elaborating and communicating the strategy (Vision Boards, Agile Product Roadmaps)
		li Tactical tools for team and customer collaboration (Specification by Example, BDD, User Story Slicing)

p The training is taught by a seasoned Agile practitioner - Alexey Krivitsky. Alexey's first Scrum project dated 2003. For the last 12 years Alexey has been active in the world-wide Agile community in the roles of a coach, trainer, speaker, conference producer, community builder. His invention 
	a(href="http://lego4scrum.com") lego4scrum
	|  is used by many trainers worldwide.

p For the last several years Alexey has been engaged as a ScrumMaster and Agile Coach in the largest German social network company, coaching Scrum teams, Product Owners and helping improve the overall organization.	