p This is a comprehensive, engineer led course that covers building infrastructure in an IaC (Infrastructure as Code) fashion, using HashiCorp's Packer and Terraform tools. Topics include:

h4 Terraform and Packer syntax, internals, and patterns
h4 Creating and accessing compute instances
h4 Provisioning resources with Terraform
h4 Working with remote state
h4 Managing DNS with Terraform
h4 Continuous delivery of machine images with Packer
h4 Learn how to safely provision and manage infrastructure lifecycle with Terraform and Packer!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately.
