p Machine Learning and Functional Programming are both very hot topics these days; they are also both rather intimidating for the beginner. In this workshop, we’ll take a 100% hands-on approach, and learn practical ideas from Machine Learning, by tackling real-world problems and implementing solutions in F#, in a functional style. In the process, you will see that once you get beyond the jargon, F# and Machine Learning are actually not all that complicated – and fit beautifully together. So if you are curious about what Machine Learning is about, and want to sharpen your developer skills, come with your laptop and… let’s hack together! What you should expect:

h4 no F# or Machine Learning prerequisites: complete beginners are totally welcome
h4 a hands-on introduction to simple Machine Learning ideas you can use, by solving real-world problems
h4 a practical introduction to writing effective F# code
h4 lots of coding on fun problems!
h4 you will need a laptop with an IDE or editor running F#; check www.fsharp.org for instructions on how to get setup.
h4 ...and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately.
