@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Economica-normal-400.woff2) format('woff2');
}

@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(/fonts/Economica-normal-400.svg) format('svg')
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 3em;
  @include media($mobile) {
    font-size: 2.0em;
  }         
}

h2 {
  font-size: 2em;
  @include media($mobile) {
   font-size: 1.5em;
  }   
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}


p {
  margin: 0 0 $small-spacing;
}

p a {
    border-bottom: 1px dashed $action-color;
}

strong {
  font-weight: normal;
}

blockquote {
  border-left: 1px solid white;
  padding-left: 20px;
  margin-left: 0;
}

a.darken {
  color: $light-blue;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  border-bottom: 1px dashed $light-blue;

  &:active,
  &:focus,
  &:hover {
    color: $dark-blue;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: #C3E4F7;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img, picture {
  margin: 0;
  max-width: 100%;
}
