p Writing code is what we - developers, were taught to do. We proudly write clean code, apply eXtreme programming practices, refactor the mess, introduce new frameworks and learn new programming languages. We concentrate on technology so much that we completely forget that only 15% of our success is due to technical knowledge. 

p There are at least 12 million developers on the market. Competition is very tough and will continue to grow. Distinguishing yourself from 12 millions by being “the strongest technical guy” is doomed to fail. 

p Custom software development costs are unbelievably high. Forward-looking companies optimize costs by hiring skilled contractors for a task-work, outsourcing mundane, automating things out, leveraging machine learning and replace hand-made solutions with SaaS.

p The IT world has changed. And, like it or not, we have to question the status quo of what does it mean to be a great developer. 

p The goal of this training is to help you - developer, become a distinguished developer, team lead, architect or whoever you want to be, by building skills that most competitors do not possess - 
	strong soft skills.

p This training will cover wide range of topics aimed to make you truly valuable asset in a modern organisation, including:

h4 How to help your customers succeed by finding long and quick wins together
h4 How to negotiate, make winning proposals and align people around your vision
h4 How to spark and drive the change via Lean Change Management
h4 How to make your workplace more fun and dynamic
h4 How to work effectively in a team
h4 How to make your team the best in the company
h4 How to find consensus in the team 
h4 How to overcome resistance and skepticism from “seniors”
h4 How to say NO without being killed
h4 How to move fast in demanding environments
h4 How to estimate work without shooting yourself in the leg
h4 How to decide in situations of high uncertainty and reduce it
h4 How to learn effectively
h4 … and much more!

blockquote This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 

blockquote The course is highly recommended for teams that work together. 