p Writing code is what we - developers, were taught to do. We proudly write clean code, apply eXtreme programming practices, refactor the mess, introduce new frameworks and learn new programming languages. We concentrate on technology so much that we completely forget that&nbsp;
	a(href="http://www.carnegiefoundation.org/faqs/") only 15% of our success is due to technical knowledge
	|.

p The IT world has changed. And, like it or not, we have to question the status quo of what does it mean to be a great developer. Welcome to the era of close developer and business partnership, where leadership abilities and soft skills play the major role.

p The goal of this training is to help you - developer, become a distinguished developer, team lead, architect or whoever you want to be, by building skills that most competitors do not possess -&nbsp;
	strong leadership and soft skills.

p This training will cover wide range of topics aimed to make you truly valuable asset in a modern organisation, including:

h4 How to help your customers succeed by finding long and quick wins together
h4 How to negotiate, make winning proposals and align people around your vision
h4 How to spark and drive the change via Lean Change Management
h4 How to make your workplace more fun and dynamic
h4 How to work effectively in a team
h4 How to make your team the best in the company
h4 How to find consensus in the team
h4 How to overcome resistance and skepticism
h4 How to say NO without being killed
h4 How to estimate work without shooting yourself in the leg
h4 How to decide in situations of high uncertainty and reduce it
h4 How to learn effectively
h4 How to build building remarkable reputation and career
h4 … and much more!

p This course offers&nbsp;
	strong concrete practices&nbsp;
	| that you can apply at work immediately. For example:

p Together with other participant you will facilitate a Lean Coffee session, run a retrospective resulting in actionable points in Trello, ensure that actionable point are completed by the team, challenge opaque requirements with "5 Whys", create a clear value proposition for your ideas, create and maintain technical improvement backlog and much more!

blockquote The course is highly recommended for teams that work together.
