section#testimonials
    .container
        section.training
            header
                h1.title Testimonials
        .quote
            blockquote Motivation ftw! It is really nice to get some exposure to people like you - makes you look into work and career at a different angle

        .quote
            blockquote It was very extremely helpful :) The most valuable part was the part with communication advises like wrap the negatives into sandwich, challenge people and of course 3 yes rule :)

        .quote
            blockquote The camp didn't met my expectation... and that was awesome! I expected another session of pair programming and TDD writing some calculator, which would be not that related to real projects I'm working on. Instead we've taken a look at the problems from a completely different perspective (soft skills) and I've received lots of useful information in that regard. Second day with discussions was great as well. At the end I have a pack of enthusiasm and ideas to try to improve things around me (not just work). Thanks for your great job and being such a positive guy!

        .quote
            blockquote I loved it. I learned cool stuff related to soft skills, and also I liked parts about personal kanban and how to plan our personal goals. :)

        .quote
            blockquote It was very productive and fun at the same time. Really liked it.

        .quote
            blockquote Actually the meetup exceeded my expectations. I still have a lot of things to reconsider in my life and try out. Kind of life-changing thing. Thank you!
