p Communication is a key to successful software development. But not all communication is equally valuable nor effective. Thankfully there are tools and techniques that allow improve communication when developing software. Specification by example is one of such tool. It helps facilitate more productive communication between all stakeholders involved in development of the particular project.
p This workshop will teach You how to apply specification by example to communicate more effectively. How to leverage examples to guide conversations, drive development and to create a single source of truth for testing and development.
p This workshop offers a comprehensive, hands-on introduction to specification by example, with practical exercises, work in groups and lot of fun.

h2 Learn how to (What You will learn)/Coverage:

p
	h3
		strong Introduction: 
		| Brief overview of the specification by example and related approaches
	h3
		strong Why examples?: 
		| Why examples are good fit as a requirements? All examples? Key examples?
	h3
		strong How examples?: 
		| Learn techniques to derive examples from user stories. Specification workshops. Refining specifications.
	h3
		strong Automation: 
		| How to turn examples into automated tests. How and when run them in software development process.
	h3
		strong Tooling: 
		| Learn what tools are there that support given approach. Try out some of the tools, like Cucumber, Concordion, Spock and other on a set of prepared exercises
	h3
		strong Process: 
		| Learn how specification by example fits in agile software development process
	h3
		strong Communication: 
		| Learn useful communication patterns, which you can use from day to improve communication within software development team
	h3
		strong Living documentation: 
		| Organisation of the examples/automated tests. Evolving documentation system around specific examples. How to care about examples
	h3
		strong Practice: 
		| Try out what you learned on a set of prepared exercises
