p Andrey Grave is software developer with 15 years of software development experience in various organizations, using different technologies and approaches. 

p Andrey is open minded, positive, fun loving guy, who is passionate about software development and believes that software development is true magic of modern times.
