p This is an official ScrumAlliance two-day intensive certification class designed specifically for Product Owners, Scrum Masters, Team Leads and Project Managers engaged in Agile product development.

p The class prepares you for fulfilling a role of a Product Owner in a company of any size, type and agile maturity. It help you dealing with all major product development challenges that nowaday's organizations face - from managing priorities to scaling the Product Organisation.

p This Certified Scrum Product Owner is designed to integrate people with different level of Scrum exposure and experience. It not only teaches the core concepts. It lets you practice the Agile mindset through a variety of workshops, exercises, and discussions guided by the experienced trainer. 

p During this practical class a number of modern agile and UX product management tools are taught to drive collaborative product discovery and development:
	ul
		li - Visioning tools for building shared understanding among the stakeholders (Impact Mapping, User Story Mapping)
		li - Tools for elaborating and communicating the strategy (Vision Boards, Agile Product Roadmaps)
		li - Tactical tools for team and customer collaboration (Specification by Example, BDD, User Story Slicing)


p For classical product managament practitioners it injects "lean" product thinking and expands your daily toolbox with modern tools and methods.

h2 Coverage

h4 Scrum Basics
h4 Roles &amp; Responsibilities of Scrum Product Owners
h4 Customer Development and Market Validations
h4 Stakeholder Management and Agile Ecosystem
h4 Product Craftsmanship and Story Mapping
h4 Value Management and Working with Scrum Teams
h4 The Product Backlog and Prioritization Techniques
h4 Release Management and Estimations
h4 Planning and Reviewing Sprints
h4 Scaling the Product Organizations
h4 ... and much more!


blockquote We do not do much of PowerPoints. Instead we focus on utilizing the best tools to amplify learning: educational videos, serious games, simulations, workshops and structured discussions.

p The training is taught by a seasoned Agile practitioner - Alexey Krivitsky. Alexey's first Scrum project dated 2003. For the last 12 years Alexey has been active in the world-wide Agile community in the roles of a coach, trainer, speaker, conference producer, community builder. His invention 
	a(href="http://lego4scrum.com") lego4scrum
	|  is used by many trainers worldwide.

p For the last several years Alexey has been engaged as a ScrumMaster and Agile Coach in the largest German social network company, coaching Scrum teams, Product Owners and helping improve the overall organization.	