h3 Full-Text Search Demystified

p Today’s applications are expected to provide powerful full-text search. But how does that work in general and how do I implement it on my site or in my application? Actually, this is not as hard as it sounds at first. This workshop covers:

h4 How full-text search works in general and what the differences to databases are
h4 How to implement common requirements with Elasticsearch

p Attendees will learn how to add common search patterns to their applications without breaking a sweat.

h3 Awesome Logging Infrastructure Using The Elastic Stack

p One of the hottest and most widely used tools for log monitoring and analytics at the moment is the Elastic Stack:

h4 Elasticsearch doing the hard work of analyzing and searching large amounts of data
h4 Logstash and Beats for collecting them
h4 Kibana for powerful visualizations

p This worshop gives you an overview of the four technologies, how they are working together, and how they can help you solve your problems.

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 