p Amazon Web Services (AWS) is the world's leading provider of reliable, scalable, and inexpensive cloud computing services. The goal of this intensive, practical course is to familiarise you with the core AWS services and equip you with enough knowledge so you can choose, create, configure and maintain AWS infrastructure for your own projects.

p This interactive, practical training will cover wide range of topics, including:

h4 Introduction to AWS ideology, basic terminology, pricing
h4 Setting up account on AWS (2-factor authentication, IAM users, roles, groups and policies)
h4 Amazon EC2 (understanding instance types, pricing, ephemeral storage, AMIs)
h4 Setting up Amazon for High Availability (regions and availability zones)
h4 Setting up Amazon Auto Scaling
h4 Monitoring with Amazon CloudWatch
h4 Networking (Route53, Elastic Network Interfaces, Elastic IP, Elastic Load Balancer, VPC, NAT, pricing and limitations)
h4 Amazon EBS (use cases, limitations, snapshotting, resizing, warmup and tagging)
h4 Amazon RDS (database engines, snapshotting, multi-az vs. single az., read- replicas, migrating data to and from RDS)
h4 Amazon S3 (architecture, limitations, naming best practices, hosting static content, access policies, retention policies, reduced redundancy, infrequent access).
h4 Amazon Glacier (data archiving, backups, integration with S3, best practices)
h4 Amazon CloudFront (introduction to content-delivery networks, object expiration, monitoring, signed content, access logs, SSL certificates, integration with S3)
h4 ... and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 