p Andrey is a software craftsman with many years of experience in different lifecycle phases of software creation. He is passionate about defining good development practices, documenting and presenting architecture, reuse of code and design patterns, profiling and analysis of application performance as well as extreme automation of development and operations activities.
p
    | At the moment, Andrey works as a free-lance&nbsp;
    strong DevOps consultant&nbsp;
    | offering his expertise in implementing DevOps initiatives, selecting automation tooling, switching to infrastructure-as-code and immutable infrastructure and constructing software delivery pipelines.
p
    | Andrey is a&nbsp;
    a(href="http://extremeautomation.io/speaking") frequent speaker&nbsp;
    | at international conferences and local communities. He presented at over than 60 events in 19 countries.
    | He is one of the leaders of&nbsp;
    a(href="http://latcraft.lv") LatCraft&nbsp;
    | - Latvian Software Craftsmanship Community as well as co-founder and organizer of&nbsp;
    a(href="http://devternity.com") DevTernity&nbsp;
    | conference.
