p Artur is a seasoned, independent consultant, who went through enterprise applications of all kinds. 
p He is enthusiastic about building and leading strong teams, revealing their potential and making smart people working with other smart people.
p Artur's peers know how pragmatically he combines business-oriented thinking and fanatic passion for software development best practices like Domain-Driven design, TDD, paired programming, writing clean code, etc.
p Before he went independent, he worked as an architect and  a tech lead. In addition to that Artur is an active OSS contributor and blogs at 
    a(href="http://craftsmanatwork.guru") Craftsman at Work