p Eduards is a hands-on software architect and software development coach who helps awesome teams around the globe become more awesome – work smarter, run faster and enjoy the journey. Eduards considers himself IT polymath and is proficient in major aspects of an IT landscape - coding, software and enterprise architecture, automation, continuous delivery, Agile processes, enginering practices, leadership, motivation, teamwork and hiring.

p Eduards leads 
	a(href="http://latcraft.lv") Latvian Software Craftsmanship Community 
	| - the fastest-growing software development community in Latvia and organizes 
	a(href="http://devternity.com") DevTernity 
	| - the conference for IT professionals who care about software craftsmanship.

p He is award-winning international speaker, spoken at the largest conferences in Latvia, Lithuania, Estonia, Ukraine, Belarus, Germany, Croatia and UK.

.quote 
	hr
	blockquote For years I've been working exteremely hard to dig through neverending amounts of information, hype, patterns, practices, case studies and try it all in a real-world environment. Now, my job is to pass the most valuable learnings to you in a live, dynamic and interactive form.
	img.signature(src="/img/eduardsi_signature.png" alt="Eduards' Signature")