p Passionate programmer with 7 years of experience. DDD, TDD and architecture are my main areas of interest. When I don’t program I run a DDD/architecture training, ride motorbike, ski or grow my beard. Also, here is my DZone MVB awarded blog: pillopl.github.io
