p The goal of this course is to help you implement Continuous Delivery in a pragmatic way. Based on experience accumulated in large and small organisations, the course will help you avoid common pitfalls teams and organisations face when adopting Continuous Delivery and equip you with enough knowledge so you can pursue your own journey.

p Together we will look at Continuous Delivery through real-world lens. Lens free of hype, marketing and “by-book” solutions.

p This interactive training will cover wide range of topics, including:

h4 How to make sense of Continuous Delivery
h4 How to implement Continuous Delivery without blowing budgets and product roadmaps
h4 How to apply value-driven approach to Continuous Delivery
h4 How to find a balance between monolithic and micro-service architectures
h4 How to build quality into your services
h4 How to make services Ops friendly
h4 How to pick tools that really matter
h4 How to stop waking up at 00:00 on PagerDuty warnings
h4 How to fight batching - the biggest enemy of Continuous Delivery
h4 How (not) to implement Deployment Pipeline
h4 How to implement effective Testing Strategy
h4 Patterns for Zero-Downtime deployment
h4 Patterns for Fault-Tolerance
h4 Patterns for Resilience
h4 Patterns for organisational and technical DevOps
h4 ...and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately. 

blockquote This course goes beyond basics, so some understanding of Continuous Delivery is desirable.