p In this hands-on workshop, together with Jakub you're gonna build a fully featured distributed system from a scratch using Spring Boot and Spring Cloud Stream. During the whole day we will learn:

h4 Why's and How's behind Event Sourcing and CQRS
h4 How to rewrite a Domain-Driven-Design-like app to event-sourced model
h4 How to leverage CQRS to eliminate accidental complexity in our domain model
h4 How to solve problems caused by synchronizing read and write model
h4 How to use messaging and Spring Stream to achieve loose coupling
h4 ...and much more!

p This course offers 
	strong concrete practices 
	| that you can apply at work immediately.
