section#testimonials
  .container
    section.training
      header
        h1.title Testimonials
    .quote
      blockquote This was a very engaging event, containing much food for thought.

    .quote
      blockquote Very competent speaking on a subject that is deeper than it first appears.

    .quote
      blockquote An excellent workshop which really unpicked many assumptions we all might make about developing, and writing, good code. Kevlin is an engaging public speaker, who uses humour to good effect to engage his audience.

    .quote
      blockquote Excellent workshop. I thought the conversational style a open format worked really well.

    .quote
      blockquote Loved it. Kevlin on form as always. Informative and entertaining.

    .quote
      blockquote I found it very interesting and thought-provoking. Great day!
